.App {
	padding-top: 48px;
	&__title {
		text-align: center;
		margin-bottom: 32px;

		h1 {
			display: inline-block;
		}
	}
	h1 {
		font-weight: normal;
	}

	&__container {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
	}
	&__sidebar {
		width: 25%;
		display: flex;

		&.left {
			justify-content: flex-end;
		}
		&.right {
			justify-content: flex-start;
		}
	}
	&__content {
		width: 50%;
		display: flex;
		justify-content: center;
		padding: 0 40px;
	}
}

.content {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #d5d5d5;
	padding: 20px 35px;

	&__title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.block {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #d5d5d5;
	padding: 20px 35px;

	&__title {
		text-align: center;
		font-size: 14px;
		margin-bottom: 16px;
	}

	button {
		width: 100%;

		// background-color: #EA4C89;
		background-color: #4c96ea;
		border-radius: 8px;
		border-style: none;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
			sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		list-style: none;
		margin: 0;
		outline: none;
		padding: 10px 16px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: color 100ms;
		vertical-align: baseline;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;

		margin-bottom: 4px;

		transition: background-color 0.35s ease;

		&:hover:enabled {
			// background-color: #F082AC;
			background-color: #82b0f0;
		}
		&:disabled {
			cursor: default;
			background-color: #4c96ea91;
		}
	}
}

.person {
	display: flex;
	margin-bottom: 10px;
	&__img {
		width: 100px;
		height: 100px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #2a2a2a;
	}
	&__content {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		width: calc(100% - 100px);
	}
	&__name {
		font-weight: bold;
		margin-bottom: 4px;
	}
	&__description {
		font-size: 14px;
		margin-bottom: 6px;
	}
	&__salary {
		font-size: 24px;
	}
}
