body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

.fieldset {
	display: flex;
	flex-direction: column;

	margin-bottom: 8px;
	&__label {
		font-size: 12px;
		margin-bottom: 3px;
	}
	&__input,
	&__textarea {
		height: 35px;
		border: 1px solid #ccc;
		border-radius: 4px;
		outline: none;
		padding: 0 10px;
	}
}

button {
	width: 100%;

	background-color: #4c96ea;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

	margin-bottom: 4px;

	transition: background-color 0.35s ease;

	&:hover:enabled {
		background-color: #82b0f0;
	}
	&:disabled {
		cursor: default;
		background-color: #4c96ea91;
	}
}
